<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geo App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <% if( typeof(error) !== 'undefined' &&  error !== null){ %>
          <p><%= error %></p>
        <% } %>
        <form action="/" method="post">
          <input name="address" type="text" class="ghost-input" placeholder="Enter the address" required>
          <input type="submit" class="ghost-button" value="Get Details">
        </form>
       
        <% if( typeof(result) !== 'undefined' &&  result !== null){ %>
          <p><%= result %></p>
        <% } %>
      </fieldset>
      <fieldset>
        
      <form action="/getHistory" method="post">
        <input type="submit" id="gethistory"  value="Get History">
      </form>
      </fieldset>

      <% if( typeof(table) !== 'undefined' ){
        if(table.length == 0){ %>
        <p>No search history found. </p>
        <% } else { %>
        <table style="border: solid">
           <tr>
              <th>Address</th><th>Latitude</th><th>Longitude</th><th>Last search time</th><th>Search Count</th>
           </tr>
           <% for (var i = 0; i < table.length;  i++) { %>
            <tr>
              <td><%= table[i].address %></td>
              <td><%= table[i].latitude %></td>
              <td><%= table[i].longitude %></td>
              <td><%= table[i].lastSearchTime %></td>
              <td><%= table[i].searchCount %></td>
            </tr>    
           <% } %>
        </table>
      <% }
      } %>
    </div>
  </body>
</html>